
<div id="container">
    <h1>Presents</h1>
    <div id="presents-all">
         {{#each presentsFromDB}}
     
        {{>presentinfo this}}
    
        {{/each}}
    </div>

<a href="/presents/new">Create a new present</a>   
</div>
